@import "./scss/mixsin";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import "./scss/variables";
@import "./app/components/auth/login/login.component.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Oswald', sans-serif;
    background: $color-light;
}